html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Raleway", Helvetica, Arial, sans-serif;
   color:#333333;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Playfair Display", Helvetica, Arial, sans-serif;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {

   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

 /* HEADER */
 header {
   color:#FFFFFF;
 }
 header nav {
   padding: 15px 0px 2px 0px;
 }
 header nav ul {
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#000000;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }

 .container.hero {
   background-image: url('../images/hero-image.png');
   max-width: 1280px;
   width: 100%;
   min-height: 100vh;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

 header nav ul > li.btn-outline {
   border: 2px solid #93C14A;
 }
 header nav ul > li.btn-outline:hover {
   background-color: #93C14A;
   border: 1px solid #93C14A;
   color: #FFFFFF;
}

 header .hero {
   padding: 0;
   width: 100%;
   height: 100vh;
   text-align: center;
   display: block;
   position: relative;
   overflow: hidden;
 }

 header .hero h1 {
   margin-top: 115px;
   font-size:50px;
   font-weight: normal;
 }
 header .hero p {
   margin-top: -20px;
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
 }
 header table {
      display: flex;
      justify-content: center;
 }
 header .hero tbody{
   margin-top: -10px;

 }
 header input {
   width: 290px;
   border: 1px solid black;
   padding: 4px;
 }

 header a.btn {
   display: inline-block;
  margin-top: 15px;
  background-color: #93C14A;
  box-shadow: 0px 2px 0px 0px #000000;
  border: 2px solid #93C14A;
}
header .SignupFB {
  margin-top: -5px;
  text-align: center;
}
header a.btn.facebook {
  background-color: #3B5998;
  box-shadow: 0px 2px 4px 0px #000000;
  border: 2px solid #3B5998;
  margin-right: 10px;
}
header i.fa.fa-facebook-official::before {
  font-size: 25px;
  margin-right: 10px;
}
header a.btn.twitter {
  background-color: #1DCAFF;
  box-shadow: 0px 2px 4px 0px #000000;
  border: 2px solid #1DCAFF;
}
header i.fa.fa-twitter::before {
  font-size: 25px;
  margin-right: 10px;
}
header .hero p.or {
  margin-top: 25px;
  color: #FFFFFF;
  font-size: 10px;

}


 /* BUTTONS */
 .btn {
    border-radius: 4px;
    color:#FFFFFF;
    font-weight: 700;
    text-decoration: none;
    padding:10px 30px;
    background: #2ECC71;
    border: 2px solid #2ECC71;
    box-shadow: 0px 2px 0px 0px #22894E;
  }

  /* BENEFITS */
.benefits {
  text-align: center;
  display:block;
  position:relative;
}
.benefits ul {
  margin: 0 auto;
  padding:4em 0;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits li.one-third {
  margin-top: 20px;
}
.benefits i {
  color:#93C14A;
  font-size:60px;
  margin:0;
  vertical-align: middle;
}
.benefits h2 {
  color:#324119;
}

.benefits p {
  color:#324119;
}

/* PRICING */
.pricing {
  background: #324119;
  background-size:cover;
  text-align: center;
  padding:4em 0;
}
.pricing h2, .pricing p {
  color:#000000;
}
.pricing h2 {
  font-size: 40px;
  margin-top: 5px;
  color: #FFFFFF;
}
.pricing p {
  font-size: 18px;
  color: #FFFFFF;
}
.pricing ul {
  margin:0 auto;
  padding:2em 0;
}
.pricing ul li {
  list-style-type: none;
}
.box {
  padding:0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 3px 4px 2px rgba(0,0,0,0.20);
  min-height: 420px;
  position: relative;
  margin-top: 25px;
  left: 0;
  right: 0;
}
.box.middle {
  min-height: 485px;
  margin-top:0px;
}
.box h3 {
  font-family: "Playfair Display", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 22px;
  text-transform: uppercase;
  background: #324119;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left:0;
  right:0;
  top:0;
  text-align: center;
  margin:0 -15px 40px;
  padding:10px 0;
}
.box h4 {
   font-size:48px;
   font-weight: normal;
   margin:40px 0 10px;
   color:#000000;
   font-family: "Raleway", Helvetica, Arial, sans-serif;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
 .box h4 span.month {
   font-family: "Raleway", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#000000;
   font-size:18px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
   color: #324119 ;
 }
 .box .btn {
    position:absolute;
    bottom:20px;
    left:7px;
    right:0;
    background: #93C14A;
    border: none;
    box-shadow: 0px 2px 0px 0px #000000;
    width: 270px;
  }
  .pricing a.btn:hover {
    background-color: #324119;
    border: 1px solid #000000;
    color: #FFFFFF;
   }
  .small {
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    line-height: 15px;
    font-style: italic;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
  }
  p.small {
    font-size: 12px;
  }
  .pricing a.btn:hover {

  }


/* TESTIMONIALS */
.testimonials {
  padding:3em 0;
  text-align: center;
}
.testimonials h2 {
  color:#000000;
  font-size: 40px;
  margin-top: 5px;
}
.testimonials p {
  font size: 18px;
  color: #324119;
}
.testimonials ul.container {
  margin-top: 20px;
}
.testimonials ul li {
  list-style-type: none;
}
.testimonials blockquote {
  color:#FFFFFF;
  text-align: left;
  font-style: italic;
  background:#324119;
  position: relative;
  padding:30px;
  width:auto;
  margin:0;
}
.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #324119;
  border-width: 10px;
  margin-left: -10px;
}
.testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
   color: #324119;
 }
li.one-fourth.second {
   padding-top: 20px;
 }
 li.one-fourth.fourth {
    padding-top: 20px;
  }


 /* SIGN UP BOTTOM */
 .signup-bottom {
     padding: 0;
     margin: 0 auto;
     width: 100%;
     height: 63vh;
     text-align: center;
     display: block;
     position: relative;
     overflow: hidden;
     background-color: #324119;
   }


 .signup-bottom h2 {
     position: absolute;
     top: 0px;
     left: 0;
     right: 0;
     font-size:48px;
     font-weight: normal;
     color: #FFFFFF;
     font-family: "Playfair Display"
 }
 .signup-bottom p {
     position: relative;
     top: 100px;
     left: 0;
     right: 0;
     font-size: 22px;
     color: #FFFFFF;
     font-weight: medium;
     font-family: "Raleway"
 }
 .signup-bottom a.btn {
     position: relative;
     top: 205px;
     left: 0;
     right: 0;
     background-color: #324119;
     border: 1px solid white;
     box-shadow: 0px 2px 0px 0px #000000;
     width: 400px;
     padding-left: 0;
     padding-right: 0;
 }
 .signup-bottom a.btn:hover {
   background-color: #FFFFFF;
   border: 1px solid #000000;
   color: #324119;
 }
 .signup-bottom tbody {
   display: inline-block;
   margin-top: -35px;
 }
.table {
     display: flex;
     justify-content: center;
     margin-top: 80px;
}
.table input {
  width: 400px;
  border: 1px solid black;
  padding: 4px;
}

/* FOOTER */

footer ul {
  padding: 0;
}
footer nav ul > li {
  margin: 0;
  font-size: 12px;
}
footer a {
  text-decoration: none;
}
footer p.copyright-block {
  font-size: 12px;
  color: #000000;
}
footer .left-footer-block.one-third {
  margin-top: 20px;
}
footer nav.link-block.middle-footer-block.one-third {
  margin-top: 20px;
}
footer img.logo {
  float: right;
  margin-top: 20px;
}

@media (min-width: 992px){
   footer{
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }

 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 991px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 @media only screen and (max-width: 590px) {
   footer nav.link-block.middle-footer-block.one-third {
     font-size: 10px;
     float: left;
     margin-top: 0px;
   }
   footer .right-footer-block.one-third{
     float: right;
     position: relative;
     top: -60px;
   }
   section.testimonials img {
     margin-left: 40px;
   }
   section.testimonials p {
     font-size: 12px;
   }
   section.pricing ul.container {
     display: flex;
     justify-content: space-between;
   }
   .box .btn {
      width: 40px;
      margin: 0 auto;

    }
    section.pricing p.small {
      font-size: 10px;
    }
    section.pricing p {
      font-size: 9px;
    }
    header input {
      width: 180px;
      border: 1px solid black;
      padding: 4px;
    }
    header .container.hero p {
      font-size: 12px;
    }

 }

 @media only screen and (max-width: 679px) and (min-width: 591px) {
   section.testimonials img {
     margin-left: 50px;
   }
   footer .right-footer-block.one-third{
     float: right;
   }
   footer nav.link-block.middle-footer-block.one-third {
     font-size: 10px;
     float: right;
   }
   section.pricing ul.container {
     display: flex;
     justify-content: space-between;
   }
   .box .btn {
      width: 85px;
      margin: 0 auto;
      font-size: 14px;
    }
    section.testimonials p {
      font-size: 12px;
    }
    section.pricing p {
      font-size: 11px;
    }
    section.pricing p.small {
      font-size: 10px;
    }
    header .container.hero p {
      font-size: 14px;
    }
    header input {
      width: 210px;
      border: 1px solid black;
      padding: 4px;
    }
 }

 @media only screen and (max-width: 743px) and (min-width: 680px) {
   footer .left-footer-block.one-third {
     font-size: 10px;
     float: left;
   }
   footer nav.link-block.middle-footer-block.one-third {
     font-size: 10px;
     float: right;
   }
   footer .right-footer-block.one-third{
     float: right;
   }
   section.testimonials img {
     margin-left: 62px;
   }
   section.pricing ul.container {
     display: flex;
     justify-content: space-between;
   }
   .box .btn {
      width: 120px;
      margin: 0 auto;
      font-size: 14px;
    }
    section.testimonials p {
      font-size: 13px;
    }
    section.pricing p {
      font-size: 12px;
    }
    header .container.hero p {
      font-size: 16px;
    }
 }

 @media only screen and (max-width: 990px) and (min-width: 744px) {
   li.one-third .box{
     width: 100%;

   }
   section.pricing ul.container {
     display: flex;
     justify-content: space-between;
   }
   section.pricing p {
     font-size: 12px;
   }
   .box .btn {
      width: 160px;
      margin: 0 auto;
    }
    section.pricing p.small{
      font-size: 11px;
    }
    section.testimonials p {
      font-size: 13px;
    }
    section.testimonials img {
      margin-left: 62px;
    }
    footer .left-footer-block.one-third {
      margin-left: 0px;
    }
    footer .right-footer-block.one-third {
      float: right;
    }
    footer nav.link-block.middle-footer-block.one-third{
      padding-top: 11px;
    }
  }

 @media only screen and (max-width: 1199px) and (min-width: 991px) {
   .box .btn {
      width: 200px;
      margin: 0 auto;
    }
    footer nav ul > li {
      float: left;
    }
    footer nav.link-block.middle-footer-block.one-third {
      width: 31%;
      float: left;
      vertical-align: middle;
      padding-top: 8px;
    }
    footer .right-footer-block.one-third {
      width: 25%;
      margin-bottom: 0px;
    }
    footer .right-footer-block.one-third img.logo {
      margin-top: 9px;
    }
    section.benefits p {
      font-size: 14px;
    }
    section.pricing p {
      font-size: 14px;
    }
    section.pricing p.small {
      font-size: 12px;
    }
    section.testimonials p {
      font-size: 14px;
    }
    section.testimonials p.name {
      font-size: 12px;
    }
}
 @media screen and (min-width: 1200px) {
   footer nav ul > li {
     float: left;
   }
   footer nav.link-block.middle-footer-block.one-third {
     margin-top: 10px;
   }
   footer .right-footer-block.one-third {
     margin-bottom: 0px;
   }
   footer .right-footer-block.one-third img.logo {
     margin-top: 9px;
   }
 }



 /* DASHBOARD */
 .dashboard {
   background:#B2CB8B;
 }
 .left-nav {
   height: 100%;
   width:280px;
   color:#FFFFFF;
   background: #475B49;
   float:left;
   position: absolute;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
   -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
   -o-transform: translate(-280px,0); /** Opera **/
   -moz-transform: translate(-280px,0); /** Firefox **/
}
.left-nav.open {
   display:block;
   width:280px;
   background: #475B49;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
   -webkit-transform: translate(0,0); /** Chrome & Safari **/
   -o-transform: translate(0,0); /** Opera **/
   -moz-transform: translate(0,0); /** Firefox **/
   z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   background: #FFFFFF;
   color: #93C14A;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }
 @media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:190px;
     color:#FFFFFF;
     background: #475B49;
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }
 .left-nav .site-logo {
   padding:18px 0;
   background:#FFFFFF;
   display:block;
   text-align: center;
 }
 .left-nav .items {
   padding:0 6%;
 }
 .left-nav .items p {
   font-weight: 600;
   text-transform: uppercase;
   font-size: 14px;
   color: #FFFFFF;
   line-height: 15px;
 }
 .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;
 }
 .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
   font-size: 15px;
 }
 .left-nav .items ul li a.active {
    color: #93C14A;
 }
 .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }


 /* LEFT NAVBAR SETTINGS */
 .left-nav .settings {
   position:absolute;
   background:#FFFFFF;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding:5px 0;
 }
 .left-nav .settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   border: 1px solid #93C14A;
   margin-left:10px;
   display: inline-block;
 }
 .left-nav .settings p {
   color: #000000;
   font-size: 12px;
   display: inline-block;
   vertical-align: top;
   padding-top: 12px;
   font-weight: 400;
   margin:0 0 0 10px;
 }
 .left-nav .settings a {
   color:#93C14A;
   text-decoration: none;
   text-align: right;
   float: right;
   margin-right:10px;
   margin-top:8px;
 }
 .left-nav .settings i.fa.fa-cog{
   margin-top: 8px;
   position: absolute;
   right: 10px;
 }
 .left-nav .settings i.fa.fa-cog:hover {
   color: #475B49;
 }
 .left-nav .items p {
   font-family: "Playfair Display";
 }

 /* CONTENT */
.content {
  padding:6em 1% 1.5em;
  float:right;
  width:98%;
  position: relative;
}
.content .header {
  margin:0 1% 20px;
}
.content .header h1 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 100;
  margin:0 0 30px;
  font-size: 36px;
  color: #FFFFFF;
  line-height: 44px;
  float: left;
  display:inline-block;
}
.content .header > a {
  float:right;
}
.content .header > a.btn {
  background-color: #93C14A;
  box-shadow: 0px 2px 1px 0px #000000;
  border: none;
}
.content .header > a.btn:hover {
  background-color: #FFFFFF;
  border: 1px solid #475B49;
  color: #93C14A;
 }
 .item-box {
   display:block;
   height:184px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }

 /* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
}
.item-box > img {
  position: relative;
  right: 30px;
  bottom: 21px;
  width: auto;
}

 .item-box h2 {
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }
 .item-box h2 a {
   color: #93C14A;
   text-decoration: none;
 }
 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box p {
   font-size: 12px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
 }
 .dash-row1 {
   display: inline-block;
   margin-right: 20px;
}



 nav#right-nav.right-nav {
   height: 100vh;
   width:278px;
   overflow-y: scroll;
   color:#FFFFFF;
   background: #F7F7F7;
   position: fixed;
   z-index: 1000;
   top: 0;
   right: 0;
   bottom: 0;
 }
 nav#right-nav.right-nav h1 {
   font-size: 36px;
   font-family: "Playfair Display";
   color: rgba(0, 0, 0, 0.75);
   margin-bottom: 30px;
   text-align: center;
 }
nav#right-nav.right-nav .boxes p {
  color: #000000;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 16px;
}
nav#right-nav.right-nav .boxes {
  text-align: center;
}
nav#right-nav.right-nav .square {
  width: 40px;
  height: 40px;
  background-color: #93C14A;
  border: 1px solid #000000;
  display: inline-block;
}
nav#right-nav.right-nav p.boxes-2 {
  margin-top: 10px;
  font-size: 12px;
}
nav#right-nav.right-nav .boxes a {
  font-size: 12px;
  color: #4990E2;
  margin-top: 10px;
  display: block;
}
nav#right-nav.right-nav .boxes hr {
  margin-top: 30px;
  width: 220px;
  border-color: #B2CB8B;
}
nav#right-nav.right-nav .storage {
  text-align: center;
}
nav#right-nav.right-nav .storage .loader {
  margin: 0 auto;
  border: 16px solid #FFFFFF;
  border-radius: 50%;
  border-top: 16px solid;
  border-top-left-radius:50%;
  border-top-color: #93C14A;
  border-right-color: #93C14A;
  width: 150px;
  height: 150px;
}
nav#right-nav.right-nav .storage p {
  color: #000000;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}
nav#right-nav.right-nav p.storage-2 {
  font-size: 12px;
}
nav#right-nav.right-nav .storage a {
  font-size: 12px;
  color: #4990E2;
  margin-top: 10px;
  display: block;
}
nav#right-nav.right-nav .storage hr {
  margin-top: 30px;
  width: 220px;
  border-color: #B2CB8B;
}
nav#right-nav.right-nav .collab {
  text-align: center;
}
nav#right-nav.right-nav .collab i.fa.fa-user-o {
  font-size: 30px;
}
nav#right-nav.right-nav .collab p {
  color: #000000;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
}
nav#right-nav.right-nav p.collab-2 {
  font-size: 12px;
}
nav#right-nav.right-nav .collab a {
  font-size: 12px;
  color: #4990E2;
  margin-top: 10px;
  display: block;
  margin-bottom: 24px;
}
nav#right-nav.right-nav .collab hr {
  margin-top: 30px;
  width: 220px;
  border-color: #B2CB8B;
}
 /* Dashboard-IMAGES */
 .left-nav-bar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   height: 100%;
   position: fixed;
   overflow: auto;
   width: 210px;
   background-color: #475B49;
 }

 .left-nav-bar li a {
   display: block;
   color: #FFFFFF;
   padding: 8px 40px;
   text-decoration: none;
 }
 .left-nav-bar a.active {
   background-color: #93C14A;
   color: white;
 }
 .left-nav-bar a:hover:not(.active) {
   background-color: #FFFFFF;
   color: #93C14A;
 }
 .header a.btn {
   margin-right: 273px;
   margin-top: 8px;
 }
 .row-1 {
   display: inline-block;
   margin-left: 13px;
   margin-bottom: 10px;
}
.row-2 {
  display: inline-block;
  margin-left: 13px;
  margin-bottom: 10px;
}
.row-3 {
  display: inline-block;
  margin-left: 13px;
  margin-bottom: 10px;
}
.row-4 {
  display: inline-block;
  margin-left: 13px;
}
